
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 8px 15px;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #10b156;
}

.logo img {
    width: 45px;
    height: 45px;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 5px;
    position: relative;
}

nav a.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #10b156;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.login-button {
    background-color: #10b156;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.login-button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    min-height: 100vh;
}

.content-wrapper {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hero {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hero-text {
    max-width: 700px;
    flex: 1 1 300px;
    margin: 10px;
}

.hero-text h2 {
    font-size: 15px;
    color: #8686868b;
}

.hero-text h1 {
    font-size: 50px;
    color: #333;
    line-height: 1.2;
}

.hero-text h1 span {
    color: #10b156;
}

.hero-text p {
    font-size: 13px;
    color: #666;
    margin: 13px 0;
}

.shop-button {
    background-color: #10b156;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.hero-image {
    flex: 1 1 300px;
    margin: 10px;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

.hero-image-container {
    position: relative;
    width: 100%;
    padding-top: 88.95%;
}

.large-image {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.small-image {
    width: 200px;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.divider {
    border: none;
    border-top: 1px solid #d3d3d3;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Add media queries for responsiveness */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
    .hero-text {
        text-align: center;
    }
    .hero {
        flex-direction: column;
    }
    .hero-text h1 {
        font-size: 28px;
    }
    .shop-button {
        padding: 10px 20px;
        font-size: 16px;
    }
    .hero-image {
        margin: 10px;
    }
    .hero-image img {
        max-width: 100%;
        height: auto;
    }
}

/* Tablets (portrait and landscape) ----------- */
@media only screen and (min-width: 601px) and (max-width: 1200px) {
    body {
        font-size: 16px;
    }
    .hero-text h1 {
        font-size: 40px;
    }
    .shop-button {
        padding: 12px 25px;
        font-size: 17px;
    }
    .hero {
        flex-direction: row;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1201px) {
    body {
        font-size: 18px;
    }
    .hero-text h1 {
        font-size: 50px;
    }
    .shop-button {
        padding: 15px 30px;
        font-size: 18px;
    }
    .hero {
        flex-direction: row;
    }
}
