
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #777777;
}
.header {
    width: 100%;
    background-color: #333;
    color: rgb(115, 117, 117);
    padding: 12px 0;
    position: fixed;
    top: 0;
    left: 0;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}
.menu-icon {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    left: 15px;
}
h1 {
    margin: 0;
}
